@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Telegraf;
  src: url("assets/font/PPTelegraf-Regular.otf") format("opentype");
  font-family: TelegrafLight;
  src: url("assets/font/PPTelegraf-UltraLight.otf") format("opentype");
}

@layer base {
  .text-gradient {
    @apply text-transparent bg-gradient-to-r from-blue-900 bg-clip-text via-red-900 to-black text-5xl;
  }
  .section {
    @apply mx-8 font-first;
  }
  .header {
    @apply text-5xl md:text-7xl text-center md:text-left text-gradient font-first font-bold;
  }
  .secondheader {
    @apply text-xl md:text-3xl  font-second text-center md:text-left;
  }
  .thirdheader {
    @apply text-3xl md:text-4xl text-gradient font-first text-left font-bold pb-4
  }
  .fourthheader {
    @apply text-2xl  md:text-2xl text-gradient font-second
  }
  .icon {
    @apply text-4xl;
  }
  .how {
    @apply border-black border-2 rounded-xl
  }
  .number {
    @apply  bg-black text-white rounded-full p-1 m-4
  }
  .how {
    @apply pt-4
  }
  .howheader{
    @apply text-xl font-second  font-extrabold mt-1  pl-4 py-2
  }
   .howp{
    @apply text-lg  font-second  pl-4 py-2 pb-6 mr-4
  }
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #ff0000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
